<div class="dev-kids">
  <div class="container">
    <div class="row">
      <div class="col-12 dev-kids-about">
        Lorem Ipsum is simply dummy text of the printing and
        typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer
        took a galley of type and scrambled it to make a type specimen book.
      </div>
      <div class="col-xl-3 col-lg-3 col-md-12 dev-kids-course">
        <a href="#">
          <fa-icon [icon]="faRobot" class="dev-kids-icon"></fa-icon>
        </a>
        <p class="dev-kids-icon-text">Robotika</p>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-12 dev-kids-course">
        <a href="#">
          <fa-icon [icon]="faGamepad" class="dev-kids-icon"></fa-icon>
        </a>
        <p class="dev-kids-icon-text">Gejming</p>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-12 dev-kids-course">
        <a href="#"><fa-icon [icon]="faLaptopCode" class="dev-kids-icon"></fa-icon></a>
        <p class="dev-kids-icon-text">Programiranje</p>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-12 dev-kids-course">
        <a href="#"><fa-icon [icon]="faPalette" class="dev-kids-icon"></fa-icon></a>
        <p class="dev-kids-icon-text">Dizajn</p>
      </div>
    </div>
  </div>
</div>