<div class="container">
  <div class="row justify-content-md-center">
    <div class="card col-lg-3 col-md-12">
      <button class="rounded-circle justify-content-md-center" id="circle-adult">
        <span class="circle-icon"><fa-icon [icon]="faLaptopCode"></fa-icon></span>
      </button>
    </div>
    <div class="card col-lg-3 col-md-12">
      <div class="rounded-circle justify-content-md-center"></div>
    </div>
    <div class="card col-lg-3 col-md-12">
      <div class="rounded-circle justify-content-md-center"></div>
    </div>
  </div>
</div>
nevena