<main class="main-exp" *ngIf="ExpHomeMetaData$ | async">
  <div class="container">
    <div class="row">
      <ng-container *ngFor="let expHome of (ExpHomeMetaData$ | async)">
        <div class="col-12 exp-div" (scroll)="scrolling_circle($event)" [ngClass]="{'exp-div-1': scroll}">
          <div class="rounded-circle exp-circle">
            <img src="assets/pictures/expiriens/{{expHome.image}}" class="exp-circle-img">
          </div>
          <div class="exp-div-text exp-div-text-left">{{expHome.title}}
            <br>
            {{expHome.name}}
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</main>