<div class="about">
    <div class="containter">
        <div class="row justify-content-start">
            <div class="col-12 about_contant">Kontakt</div>
            <div class="col-lg-6 col-md-12 about_contant_text">Lorem Ipsum is simply dummy text of the printing and
                typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer
                took a galley of type and scrambled it to make a type specimen book. It has survived not only five
                centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was
                popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more
                recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </div>
            <div class="col-lg-6 col-md-12 about_contant_adress">
                ITC Koledž by Akademija Besos
                <br>
                Dine Mančića 4/1, 11300 Smederevo
                <br>
                <a href="mailto:#" class="about-mail">mejl</a>
                <br>
                Brojevi telefona
                <br>
                <div class="header-link">
                    <a href="#" class="header-link-text">Prijavi se</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="about_us">
    <div class="container">
        <div class="row">
            <div class="col-12 exp-div">
                <div class="rounded-circle exp-circle"></div>
                <div class="exp-div-text exp-div-text-left">Lorem Ipsum is simply dummy text of the printing and
                    typesetting
                    industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                    unknown
                    printer took a galley of type and scrambled it to make a type specimen book.</div>
            </div>
            <div class="col-12 exp-div" id="exp-div-right">
                <div class="rounded-circle exp-circle" id="exp-circle-right"></div>
                <div class="exp-div-text exp-div-text-right">Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry. Lorem Ipsum
                    has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                    galley of
                    type and scrambled it to make a type specimen book.</div>
            </div>
            <div class="col-12 exp-div">
                <div class="rounded-circle exp-circle"></div>
                <div class="exp-div-text exp-div-text-left">Lorem Ipsum is simply dummy text of the printing and
                    typesetting
                    industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                    unknown
                    printer took a galley of type and scrambled it to make a type specimen book.</div>
            </div>
        </div>
    </div>
</div>