<header>
    <div id="particles-js" class="header-particles">
      <div class="container">
        <div class="row">
          <div class="col-12 header-mein">
            <p class="header-text">Izaberi karijeru budućnosti</p>
            <br>
            <p class="header-text">Centar za IT obuke</p>
            <img src='assets/pictures/logo/logo_white_orange.png' class="img-fluid rounded mx-auto d-block header-img">
            <div class="row justify-content-center">
              <div class="header-link">
                <a href="#" class="header-link-text">Prijavi se</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</header>
