<div class="container-fluid margin" *ngIf="webKidsMetaData$ | async">
  <div class="row">
    <ng-container *ngFor="let web of (webKidsMetaData$ | async)">
      <div class="col-xl-7 col-md-12 course-color web-color">
        <p class="course-title">{{web.title}}</p>
        <p class="course-headings">{{web.description}}</p>
        <p class="course-eng">engleski gratis!!!</p>
        <p class="course-price-nbs">*U toku trajanja kursa</p>
        <div class="header-link">
          <a href="#" class="header-link-text">Prijavi se</a>
        </div>
      </div>
      <div class="col-xl-5 course-img web-img"></div>
      <div class="course-img-experiens web-img-experiens col-12">
        <h1 class="display-4">Sadržaj kursa</h1>
        <div class="col-xl-12 col-md-12 course-list web-list" *ngFor="let content of web.content">
          <h5 class="course-list-id course-list-id-number">{{content.id}}.</h5>
          <h5 class="course-list-id course-list-content">{{content.item}}</h5>
          <h5 class="course-list-id course-list-number">{{content.number_of_class}}</h5>
        </div>
      </div>
      <div class="col-12 course-price web-price">
        <div class="container-fluid">
          <h2 class="course-registration">Upis je u toku
          </h2>
          <div class="row course-price-row web-price-row">
            <div class="col-xl-4 col-md-12">
              <p class="course-price-course">Dev Kids kurs</p>
              <p class="course-price-name">{{web.title}}</p>
            </div>
            <div class="col-xl-4 col-md-12">
              <p class="course-price-course">Redovna cena</p>
              <p class="course-price-old-price">{{web.old_price}} din.</p>
            </div>
            <div class="col-xl-4 col-md-12">
              <p class="course-price-course">Promo cena</p>
              <p class="course-price-name">{{web.price_in_full}} din.</p>
            </div>
          </div>
          <!-- <p class="course-price-nbs">**Cene u evrima se obračunavaju prema prodajnom kursu NBS.</p> -->
          <div class="header-link">
            <a href="#" class="header-link-text">Prijavi se</a>
          </div>
          <br>
          <p class="course-price-nbs">{{web.text_course}}</p>
          <p class="course-price-nbs">{{web.text_price}}</p>
        </div>
      </div>
    </ng-container>
  </div>
</div>
