<div class="container-fluid margin" *ngIf="roboticsMetadata$ | async">
  <div class="row">
    <ng-container *ngFor="let robot of (roboticsMetadata$ | async)">
    <div class="col-xl-7 col-md-12 robotics-color">
        <p class="course-title">{{robot.title}}</p>
        <p class="course-headings">{{robot.description}}</p>
      <div class="header-link">
        <a href="#" class="header-link-text">Prijavi se</a>
      </div>
    </div>
    <div class="col-xl-5 robotics-img"></div>
    <div class="robotics-img-experiens col-12">
      <ul class="list-group" *ngFor="let content of robot.content">
        <ul class="list-group list-group-horizontal">
          <li class="list-group-item">{{content.id}}</li>
          <li class="list-group-item">{{content.item}}</li>
          <li class="list-group-item">{{content.number_of_class}}</li>
        </ul>
      </ul>
    </div>
  </ng-container>
</div>
</div>