<div class="container-fluid margin" *ngIf="roboticsMetadata$ | async">
  <div class="row">
    <ng-container *ngFor="let robot of (roboticsMetadata$ | async)">
      <div class="col-xl-7 col-md-12 course-color robotics-color">
        <p class="course-title">{{robot.title}}</p>
        <p class="course-headings">{{robot.description}}</p>
        <p class="course-eng">engleski gratis!!!</p>
        <p class="course-price-nbs">*U toku trajanja kursa</p>
        <div class="header-link">
          <a href="#" class="header-link-text">Prijavi se</a>
        </div>
      </div>
      <div class="col-xl-5 course-img robotics-img"></div>
      <div class="course-img-experiens robotics-img-experiens col-12">
        <h1 class="display-4">Sadržaj kursa</h1>
        <div class="col-xl-6 col-md-12 course-list robotic-list" *ngFor="let content of robot.content">
          <h5 class="course-list-id">{{content.id}}.</h5>
          <h5 class="course-list-id course-list-content">{{content.item}}</h5>
          <h5 class="course-list-id course-list-number">{{content.number_of_class}}</h5>
        </div>
      </div>
      <div class="col-12 course-price robotics-price">
        <div class="container-fluid">
          <h2 class="course-registration">Upis je u toku
          </h2>
          <div class="row course-price-row">
            <div class="col-xl-2 col-md-12">
              <p class="course-price-course">Dev Kids <br> kurs</p>
              <p class="course-price-name">{{robot.title}}</p>
            </div>
            <div class="col-xl-2 col-md-12">
              <p class="course-price-course">Redovna cena (eur)</p>
              <p class="course-price-old-price">{{robot.old_price}}</p>
            </div>
            <div class="col-xl-4 col-md-12">
              <p class="course-price-course">PROMOTIVNA CENA ZA PLAĆANJE NA RATe (EUR)</p>
              <p class="course-price-name">{{robot.installment_price}}</p>
            </div>
            <div class="col-xl-4 col-md-12">
              <p class="course-price-course">PROMOTIVNA CENA ZA PLAĆANJE U CELOSTI (EUR)</p>
              <p class="course-price-name">{{robot.price_in_full}}</p>
            </div>
          </div>
          <p class="course-price-nbs">**Cene u evrima se obračunavaju prema prodajnom kursu NBS.</p>
          <div class="header-link">
            <a href="#" class="header-link-text">Prijavi se</a>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>