<div class="container-fluid margin" *ngIf="roboticsMetadata$ | async">
  <div class="row">
    <div class="col-xl-7 col-md-12 robotics-color">
      <ng-container *ngFor="let robot of (roboticsMetadata$ | async)">
        <p class="course-title">{{robot.title}}</p>
        <p class="course-headings">{{robot.description}}</p>
      </ng-container>
      <div class="header-link">
        <a href="#" class="header-link-text">Prijavi se</a>
      </div>
    </div>
    <div class="col-xl-5 robotics-img"></div>
    <div class="robotics-img-experiens col-12"></div>
  </div>
</div>