<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="#">
    <img src="assets/pictures/logo/logo_white.png" class="logo">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <h1 class="icon-toggler">
      <fa-icon [icon]="faBars"></fa-icon>
    </h1>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <li class="nav-item">
          <a class="nav-link" href="#">IT odrasli</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Dev Kids</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Kursevi</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Načini plaćanja</a>
        </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Galerija</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">O nama</a>
      </li>
    </ul>
  </div>
</nav>