<div class="container-fluid margin" *ngIf="programmingKidsMetadata$ | async">
  <div class="row">
    <ng-container *ngFor="let program of (programmingKidsMetadata$ | async)">
    <div class="col-xl-7 col-md-12 course-color programming-color">
        <p class="course-title">{{program.title}}</p>
        <p class="course-headings">{{program.description}}</p>
        <p class="course-eng">engleski gratis!!!</p>
        <p class="course-price-nbs">*U toku trajanja kursa</p>
      <div class="header-link-program">
        <a href="#" class="header-link-text">Prijavi se</a>
      </div>
    </div>
    <div class="col-xl-5 course-img programming-img"></div>
    <div class="course-img-experiens programming-img-experiens col-12">
      <h1 class="display-4">Sadržaj kursa</h1>
      <div class="col-xl-6 col-md-12 course-list programming-list" *ngFor="let content of program.content">
        <h5 class="course-list-id">{{content.id}}.</h5>
        <h5 class="course-list-id course-list-content">{{content.item}}</h5>
        <h5 class="course-list-id course-list-number">{{content.number_of_class}}</h5>
      </div>
    </div>
    <div class="col-12 course-price programming-price">
      <div class="container-fluid">
        <h2 class="course-registration">Upis je u toku
        </h2>
        <div class="row course-price-row programming-price-row">
          <div class="col-xl-3 col-md-12">
            <p class="course-price-course">Dev Kids <br> kurs</p>
            <p class="course-price-name">{{program.title}}</p>
          </div>
          <div class="col-xl-2 col-md-12">
            <p class="course-price-course">Redovna cena <br> (eur)</p>
            <p class="course-price-old-price">{{program.old_price}}</p>
          </div>
          <div class="col-xl-3 col-md-12">
            <p class="course-price-course">PROMOTIVNA CENA ZA PLAĆANJE NA RATe (EUR)</p>
            <p class="course-price-name">{{program.installment_price}}</p>
          </div>
          <div class="col-xl-4 col-md-12">
            <p class="course-price-course">PROMOTIVNA CENA ZA PLAĆANJE U CELOSTI (EUR)</p>
            <p class="course-price-name">{{program.price_in_full}}</p>
          </div>
        </div>
        <p class="course-price-nbs">**Cene u evrima se obračunavaju prema prodajnom kursu NBS.</p>
        <div class="header-link-program">
          <a href="#" class="header-link-text">Prijavi se</a>
        </div>
      </div>
    </div>
  </ng-container>
</div>
</div>