@mixin background($imgpath, $position: center top, $repeat: no-repeat, $size: cover) {
  background: {
    image: url($imgpath);
    position: $position;
    repeat: $repeat;
    size: $size;
  }
}

.about {
  @include background("~/assets/pictures/main/about.png");
  height: 100vh;
}
