$first-color: #08244b;
$second-color: #ff7d00;
$third-color: #ffbd0d;
$fourth-color: #fff35a;
$text-color-1: #ffffff;
$text-color-2: #000000;
$robotics-color: #05306b;
$programming-color: #ab0505;
$programming-color-2: #8f0101;
$gaming-color: #096146;
$gaming-color-2: #12966e
