.display-4{
  color: $text-color-1;
}

.course-color {
  height: 100vh;
}

.course-img {
  height: 100vh;
}

.course-img-experiens {
  height: 100vh;
}

.course-title {
  color: $text-color-1;
  font-size: 48px;
  font-weight: 800;
  position: relative;
  top: 20px;
}

.course-headings {
  color: $text-color-1;
  font-size: 20px;
}

.course-list {
  margin: 5px 0px;
  border-radius: 30px;
  position: relative;
  top: 10px;
  display: flex;
  align-items: center;
}

.course-list-id {
  color: $text-color-1;
  margin-left: 10px;
  margin-top: 15px;
  padding-right: calc(100% / 3);
  text-align: center;
}

.course-list-content {
  text-align: center;
  width: 100%;
  text-transform: uppercase;
}

.course-list-number {
  padding: 0px;
}

.course-registration {
  font-size: 72px;
  color: $text-color-1;
  font-weight: 800;
  padding-top: 10px;
}

.course-price {
  height: 100vh;
}

.course-price-row {
  border-radius: 20px;
  background-color: $first-color;
  text-transform: uppercase;
}

.course-price-course {
  color: $first-color;
  font-size: 18px;
  text-align: center;
  background-color: $text-color-1;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding-top: 5px;
}

.course-price-name {
  color: $text-color-1;
  font-size: 38px;
  font-weight: 700;
  text-align: center;
  margin-top: 20px;
}

.course-price-old-price {
  color: $text-color-1;
  opacity: 0.6;
  font-size: 42px;
  font-weight: 700;
  text-align: center;
  margin-top: 20px;
  text-decoration: line-through;
}

.course-price-nbs {
  color: $text-color-1;
  font-size: 18px;
}

.course-eng {
  color: $text-color-1;
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0px;
}

@media (max-width: 912px) {
  .course-list-content {
    font-size: 14px;
  }

  .course-registration {
    font-size: 48px;
  }

  .course-price-name {
    font-size: 28px;
  }

  .course-price-old-price {
    font-size: 28px;
  }

  .course-price-course {
    font-size: 20px;
  }

  .course-price {
    height: auto;
  }

  .course-img-experiens {
    height: auto;
  }

  .course-color {
    height: auto;
  }

  .course-img {
    display: none;
  }
}

@media (max-width: 375px) {
  .course-list-id-number {
    display: none;
  }

  .course-list-content {
    font-size: 14px;
  }

  .course-registration {
    font-size: 32px;
  }

  .course-price-name {
    font-size: 20px;
  }

  .course-price-old-price {
    font-size: 20px;
  }

  .course-price-course {
    font-size: 16px;
  }

  .course-eng {
    font-size: 26px;
  }

  .course-title {
    font-size: 28px;
  }
}
