$height: calc(100vh / 3);

@mixin background($imgpath, $size: cover, $repeat: no-repeat) {
  background: {
    image: url($imgpath);
    size: $size;
    repeat: $repeat;
  }
}

.main-exp {
  height: 100vh;
  @include background("~/assets/pictures/main/3.png");
}

.exp-div {
  height: $height;
}

.exp-circle {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin-top: 10px;
  border: 1px solid $third-color;
}

#exp-circle-right {
  position: absolute;
  left: calc(100% - 210px);
}

.exp-div-text {
  background-color: rgba($color: $first-color, $alpha: 0.7);
  position: absolute;
  top: 10px;
  bottom: 0px;
  color: $text-color-1;
  border: 1px solid $third-color;
}

.exp-div-text-left {
  position: absolute;
  left: 220px;
}

.exp-div-text-right {
  position: absolute;
  right: 220px;
}

.exp-div-1{
  animation: scale-in-center 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.exp-div-2 {
  animation: scale-in-center 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.exp-div-3 {
  animation: scale-in-center 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@media (max-width: 576px) {
  .exp-circle {
    display: none;
  }

  .exp-div-text {
    position: absolute;
    left: 0px;
    right: 0px;
  }
}

@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
