footer{
    height: 200px;
    background-color: $first-color;
    border-top: 7px solid $second-color;
}

.icon{
    color: $text-color-1;
    margin-right: 15px;
    position: relative;
    top: 20px;
}

.footer-icon{
    position: relative;
    top: 30px;
    color: $text-color-1;
    font-size: 16px;
}

.footer-mail{
    color: $text-color-1;
    font-size: 16px;
}

.footer-mail:hover{
    text-decoration: none;
    color: $second-color;
}

@media (max-width: 375px){
    .footer-icon{
        font-size: 12px;
    }

    .footer-mail{
        font-size: 12px;
    }
}