#carouselExampleCaptions{
    position: relative;
    bottom: 70px;
    z-index: -1;
}


@media only screen and (max-width: 720px) {
    #carouselExampleCaptions{
        position: relative;
    }
  }