@mixin background($imgpath, $size: cover, $repeat: no-repeat) {
  background: {
    image: url($imgpath);
    size: $size;
    repeat: $repeat;
  }
}

.row{
  margin: 0px;
}

.main {
  height: 100vh;
  position: relative;
  @include background("/assets/pictures/main/1.png");
}

.main-heading-title {
  color: $text-color-1;
  font-size: 48px;
  font-weight: 800;
}

.main-heading-text {
  color: $text-color-1;
  font-size: 20px;
}

.title-1{
  font-size: 36px !important;
  padding-top: 10px;
}

@media (max-width: 400px) {
  .main-heading-title {
    font-size: 18px !important;
    padding-top: 0px;
  }

  .main-heading-text {
    color: $text-color-1;
    font-size: 12px !important;
  }
}

@media (max-width: 720px) {
  .main-heading-title {
    font-size: 20px;
  }

  .main-heading-text {
    color: $text-color-1;
    font-size: 16px;
  }
}

.main-animation-1 {
  animation: slide-in-left 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.main-animation-2 {
  animation: slide-in-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.main-animation-3 {
  animation: slide-in-left 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

