.card {
  border: none;
  height: 300px;
  position: relative;
  top: 10px;
}

@mixin background($imgpath, $position:center center,$repeat: no-repeat) {
  background: {
      image: url($imgpath);
      position: $position;
      repeat: $repeat;
  }
}

#circle-adult{
  @include background('/assets/pictures/circle/adult.png');
}

.rounded-circle {
  height: 250px;
  width: 250px;
  border: 1px solid $first-color;
  position: absolute;
  top: 0; 
  bottom: 0; 
  left: 0; 
  right: 0;
  margin: auto;
  animation: scale-in-center 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.circle-icon{
  font-size: 96px;
  color: $text-color-1;
  position: relative;
  bottom: 45px;
}

@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}