@mixin background($imgpath, $size: cover, $repeat: no-repeat) {
  background: {
    image: url($imgpath);
    size: $size;
    repeat: $repeat;
  }
}

.price {
  height: 100vh;
  position: relative;
  @include background("~/assets/pictures/main/2.png");
}
