.margin {
  @include margin;
}
.robotics-color {
  background-color: $robotics-color;
}

.robotics-img {
  @include background("~/assets/pictures/main/robot_1.png");
}

.robotics-img-experiens{
  @include background("~/assets/pictures/main/robot_2.png");
}

.robotic-list{
  background-color: $robotics-color;
}

.robotics-price{
  background-color: $robotics-color;
}
