@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
$font-main: "Roboto", sans-serif;

@mixin background($imgpath, $size: cover, $repeat: no-repeat) {
  background: {
    image: url($imgpath);
    size: $size;
    repeat: $repeat;
  }
}

@mixin margin {
  padding: 0px;
}

* {
  font-family: $font-main;
}

body {
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

a:hover{
  text-decoration: none;
}
